.grey-color {
    color: rgba(0, 0, 0, 0.5);
}

.dark-color {
    color: rgba(0, 0, 0, 0.75);
}

.border-bottom {
    border-bottom: 1px;
}

.form-field {
    margin-bottom: 20px;
}

.container-padding {
    padding: 0.75rem 1.25rem;
}

.float-right {
    float: right;
}

.title-header {
    margin-bottom: 20px;
}

.button {
    width: 100px;
}

.delete-button {
    border-color: rgba(0, 0, 0, 0.2);
}