{% load widget_tweaks %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "stylesheet.css" %}"/>

    <title>
        {% if is_add %}
            Add Member
        {% else %}
            Edit Member
        {% endif %}
    </title>
</head>
<body>
<div class="container-fluid container-padding">
    <h3 class="dark-color">
        {% if is_add %}
            Add a team member
        {% else %}
            Edit team member
        {% endif %}
    </h3>
    <h6 class="grey-color">
        {% if is_add %}
            Set email, location and Role.
        {% else %}
            Edit contact info, location, and role.
        {% endif %}
    </h6>
    <hr/>
    <form action="." method="post">
        {% csrf_token %}
        <div class="form-group">
            <h5 class="dark-color title-header">Info</h5>
            {% for field in form %}
                {% if field.name != "role" %}
                    {% render_field field class+="form-control form-field grey-color" placeholder=field.label %}
                {% endif %}
            {% endfor %}
        </div>
        <div>
            <h5 class="dark-color title-header">Role</h5>
            {% for choice in form.role.field.choices %}
                <div>
                    <label class="dark-color" for="">{{ choice.1 }}</label>
                    <input class="float-right" type="radio" name="role" value="{{ choice.0 }}"
                           {% if form.role.value == choice.0 %}checked="checked"{% endif %}/>
                    <hr>
                </div>
            {% endfor %}
        </div>
        <div>
            {% if is_add %}
                <input type="submit" name="add"
                       class="button btn btn-primary btn-lg float-right" value="Save">
            {% else %}
                <input type="submit" name="update"
                       class="button btn btn-primary btn-lg float-right" value="Save">
{#                <input type="submit" name="delete" formaction="{% url 'member_delete' kwargs.team_name kwargs.user_id %}"#}
{#                       class="button btn btn-lg btn-outline-danger delete-button" value="Delete">#}
            {% endif %}
        </div>
    </form>
</div>
</body>
</html>